#=======================================================================
# Includes 
#-----------------------------------------------------------------------
[include fluidd.cfg]
[include macros_klipperscreen.cfg]
[include homing.cfg]
[include KAMP_Settings.cfg]

[exclude_object]

#=======================================================================
# Controllers
#-----------------------------------------------------------------------
[mcu]
canbus_uuid: 345528508a29

[mcu HermitCrab]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_1A0042000E57434135353820-if00

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#[temperature_sensor MCUTemp]
#sensor_type: temperature_mcu
#sensor_mcu: mcu
#min_temp: 0
#max_temp: 100

[temperature_sensor HermitCrabTemp]
sensor_type: temperature_mcu
sensor_mcu: HermitCrab
min_temp: 0
max_temp: 100

#=======================================================================
# Main
#-----------------------------------------------------------------------
[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 10000
max_z_velocity: 10
max_z_accel: 100

#=======================================================================
# Extruder
#-----------------------------------------------------------------------

[adxl345]
cs_pin: HermitCrab: PB12
spi_bus: spi2
axes_map: y,z,-x

#[filament_switch_sensor switch_sensor]
#switch_pin: ^PC5
#pause_on_runout: False
#runout_gcode:
#insert_gcode:

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#=======================================================================
# Motion
#-----------------------------------------------------------------------

[stepper_y]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 40
position_endstop: -55
position_min: -55
position_max: 195
homing_speed: 30
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop  # correct syntax, required

[tmc2209 stepper_y]
uart_pin: PB8
run_current: 1.0          # LDO 42STH48-1684MAC RMS ~1.68A
hold_current: 0.5
stealthchop_threshold: 0    # required for sensorless homing
diag_pin: ^PC4
driver_SGTHRS: 110        # start here, tune if needed

[stepper_x]
step_pin: PC8
dir_pin: !PA15 #removed !
enable_pin: !PC14
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 40
position_endstop: -10
position_min: -10
position_max: 180
homing_speed: 30
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_y:virtual_endstop  # correct syntax, required

[tmc2209 stepper_x]
uart_pin: PC9
run_current: 1.0
hold_current: 0.5
stealthchop_threshold: 0    # required for sensorless homing
diag_pin: ^PB0
driver_SGTHRS: 90          # start here, tune if needed


[stepper_z]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop 
position_min: -10
position_max: 225

[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
run_current: 0.650
stealthchop_threshold: 999999

[extruder]
step_pin: HermitCrab: PA6
dir_pin: !HermitCrab: PA7
enable_pin: !HermitCrab: PA5
microsteps: 16
rotation_distance: 3.483
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HermitCrab: PA2
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 0
max_temp: 300
sensor_pin: HermitCrab: PA1
max_extrude_only_distance: 150.0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 280

[tmc2209 extruder]
uart_pin: HermitCrab: PB0
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

#=======================================================================
# Fans
#-----------------------------------------------------------------------

#[fan]
#pin: HermitCrab: PA4

[fan]
pin: PA8 # Output pin controlling the fan. This parameter must be provided.
max_power: 1
# If you need to fine-tune the max_power parameter to adapt to your motherboard, first set it to 1.0. Gradually increase the fan speed in the Klipper dashboard until the actual speed no longer increases with the set value. Divide this speed by 100 and enter it into the max_power parameter.
# This parameter defines the maximum power (expressed as a value from 0.0 to 1.0) that the pin may be set to. 
# The value 1.0 allows the pin to be set fully enabled for extended periods, while a value of 0.5 would allow the pin to be enabled for no more than half the time. 
# This setting may be used to limit the total power output (over extended periods) to the fan. 
# If this value is less than 1.0, then fan speed requests will be scaled between zero and max_power (for example, if max_power is 0.9 and a fan speed of 80% is requested, then the fan power will be set to 72%).
shutdown_speed: 0
# The desired fan speed (expressed as a value from 0.0 to 1.0) if 
# The microcontroller software enters an error state. 
# The default is 0.
cycle_time: 0.000033
# The amount of time (in seconds) for each PWM power cycle to the fan. 
# The recommended range is 0.000025 ~ 0.00005 seconds, (40Khz ~ 20Khz). 
# The default is 0.000033 seconds (30KHz).
hardware_pwm: False
# Enable this to use hardware PWM instead of software PWM. 
# Most fans do not work well with hardware PWM, so it is not recommended to enable this unless there is an electrical requirement to switch at very high speeds. 
# When using hardware PWM, the actual cycle time is constrained by the implementation and may be significantly different than the requested cycle_time. 
# The default is False.
kick_start_time: 0.100
# Time (in seconds) to run the fan at full speed when either first enabling or increasing it by more than 50% (helps get the fan spinning). 
# The default is 0.100 seconds.
off_below: 0.15
# The blower will not spin with the included brushless driver when the duty cycle is below 15%. When scaled with Max_power at 1, the off_below parameter should be set to 0.15. 
# To calibrate this setting, gradually lower the fan speed to determine the lowest input speed that will reliably drive the fan without stalls. 
# Set off_below to the duty cycle corresponding to this value (for example, 15% -> 0.15/Max_power -> 0.15/1 -> 0.15) or slightly higher. 
# This parameter is the minimum input speed that will power the fan (expressed as a value from 0.0 to 1.0). 
# When a speed lower than off_below is requested, the fan will instead be turned off. 
# This setting may be used to prevent fan stalls and to ensure effective kick starts. 
# To calibrate this setting, start with off_below set to 0.0 and the fan spinning. 
# Gradually lower the fan speed to determine the lowest input speed that will reliably drive the fan without stalls. 
# Set off_below to the duty cycle corresponding to this value (for example, 12% -> 0.12) or slightly higher.

[heater_fan hotend_fan]
pin: HermitCrab: PA3
heater: extruder
heater_temp: 50.0

[temperature_fan controller_fan]
pin: PB15
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_mcu
sensor_mcu: mcu
#sensor_pin:
control: watermark
max_delta: 5
min_temp: 0
max_temp: 100
target_temp: 38
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.


#[fan_generic mcu_fan]
#pin: PA8

[neopixel hotend_rgb]
pin: HermitCrab:PA8
chain_count: 2
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

[bltouch]
sensor_pin: ^HermitCrab:PB2
control_pin: HermitCrab:PB1
#z_offset: 3.35
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
x_offset: 38.0
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
y_offset: -36.0
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.

#[safe_z_home]
#home_xy_position: 75, 95
##   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
##   performed. This parameter must be provided.
#speed: 50.0
##   Speed at which the toolhead is moved to the safe Z home
##   coordinate. The default is 50 mm/s
#z_hop: 10
##   Distance (in mm) to lift the Z axis prior to homing. This is
##   applied to any homing command, even if it doesn't home the Z axis.
##   If the Z axis is already homed and the current Z position is less
##   than z_hop, then this will lift the head to a height of z_hop. If
##   the Z axis is not already homed the head is lifted by z_hop.
##   The default is to not implement Z hop.
#z_hop_speed: 15.0
##   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
##   default is 15 mm/s.
#move_to_previous: False
##   When set to True, the X and Y axes are reset to their previous
##   positions after Z axis homing. The default is False.


[bed_screws]
screw1: 25,27
#   The X, Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This parameter must be provided.
screw1_name: xmin_ymin
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
#screw1_fine_adjust:
#   An X, Y coordinate to command the nozzle to so that one can fine
#   tune the bed leveling screw. The default is to not perform fine
#   adjustments on the bed screw.
screw2: 193,27
screw2_name: xmax_ymin

screw3: 193,195
screw3_name: xmax_ymax

screw4: 25,195
screw4_name: xmin_ymax

#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   when moving from one screw location to the next. The default is 5.
#probe_height: 0
#   The height of the probe (in mm) after adjusting for the thermal
#   expansion of bed and nozzle. The default is zero.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#probe_speed: 5
#   The speed (in mm/s) when moving from a horizontal_move_z position
#   to a probe_height position. The default is 5.

[screws_tilt_adjust]
screw1: -5,55
#   The (X, Y) coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to so that the probe is directly
#   above the bed screw (or as close as possible while still being
#   above the bed). This is the base screw used in calculations. This
#   parameter must be provided.
screw1_name: xmin_ymin
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.

screw2: 155,55
screw2_name: xmax_ymin

screw3: 155,195
screw3_name: xmax_ymax

screw4: -5,195
screw4_name: xmin_ymax
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#screw_thread: CW-M3
#   The type of screw used for bed leveling, M3, M4, or M5, and the
#   rotation direction of the knob that is used to level the bed.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3 which most printers use. A clockwise
#   rotation of the knob decreases the gap between the nozzle and the
#   bed. Conversely, a counter-clockwise rotation increases the gap.

[bed_mesh]
speed: 120
horizontal_move_z: 7
mesh_min: 28, 0
mesh_max: 180,159
probe_count: 6, 6

[force_move]
enable_force_move: true ; enable FORCE_MOVE and SET_KINEMATIC_POSITION

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 4.185
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.921
#*# pid_ki = 1.234
#*# pid_kd = 880.049
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.007500, -0.147500, -0.120625, -0.067500, -0.021875, -0.038750
#*# 	0.050000, -0.106875, -0.075625, -0.028750, -0.002500, -0.053750
#*# 	0.031875, -0.078750, -0.035000, -0.046250, -0.018750, -0.061250
#*# 	0.051875, -0.055625, -0.000625, 0.024375, -0.000000, -0.052500
#*# 	0.085625, -0.005000, -0.015000, -0.018125, -0.018125, -0.084375
#*# 	0.035000, -0.036250, 0.005000, -0.026250, -0.060000, -0.140625
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 28.0
#*# max_x = 180.0
#*# min_y = 0.0
#*# max_y = 159.0
